@use '/src/styles/constants/colors';

.boxOffice {
  .titleWrap {
    margin-bottom: 60px;

    .title {
      margin-bottom: 14px;
      font-size: 20px;
      font-weight: bold;
    }

    .subTitle {
      font-size: 18px;
      line-height: 25px;
    }
  }
}
