@use '/src/styles/constants/colors';

.searchInput {
  width: 50%;
  height: 50px;
  padding: 0 20px;
  margin: 25px 0 60px;
  font-size: 18px;
  border: 1px solid colors.$GRAY100;
  border-radius: 5px;

  &::placeholder {
    color: colors.$GRAY100;
  }
}
